parameters:
  ignoreErrors:
    - '#Access to an undefined property Dotclear\\Core\\Backend\\Utility::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Helper\\Html\\XmlTag::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Database\\Cursor::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Database\\MetaRecord::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Database\\Record::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Database\\Structure::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Plugin\\widgets\\WidgetsElement::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Plugin\\widgets\\WidgetsStack::\$[alpha]*.#'

    - '#Access to an undefined property context::\$[alpha]*.#'
    - '#Access to an undefined property dcNamespace::\$[alpha]*.#'
    - '#Access to an undefined property dcPrefs::\$[alpha]*.#'
    - '#Access to an undefined property dcSettings::\$[alpha]*.#'

    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Div::items\(\)#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Fieldset::class\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Para::items\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Checkbox::value\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Label::for\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Fieldset::class\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Para::items\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Label::for\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Input::size\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Fieldset::class\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Para::items\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Label::for\(\).#'
    - '#Call to an undefined method Dotclear\\Helper\\Html\\Form\\Input::size\(\).#'
    - '#Call to an undefined method Dotclear\\Database\\MetaRecord::getURL\(\).#'
    - '#Call to an undefined method Dotclear\\Database\\MetaRecord::isEditable\(\).#'
    - '#Call to an undefined method Dotclear\\Database\\MetaRecord::isDeletable\(\).#'
    - '#Call to an undefined method Dotclear\\Database\\MetaRecord::getPosition\(\).#'
    - '#Call to an undefined method Dotclear\\Database\\MetaRecord::getRelatedFilename\(\).#'
